@import '../../styles/Variables.scss';
@import '../../styles/Mixins.scss';

/* Mobile screen size */
.home-page {
  width: 100%;
  max-width: $mobile;
  margin: auto;

  .home-contianer {
    .widgets-container {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .chats-container {
      display: flex;
      flex-direction: column;
    }

    .list-container {
    }
  }
}

/* Tablet screen size */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .home-page {
    width: 100%;
    max-width: $tablet;
    margin: auto;
    .home-contianer {
      width: 100%;
      .widgets-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      .chats-container {
        display: flex;
        flex-direction: column;
      }

      .list-container {
      }
    }
  }
}

/* Labtop screen size */
@media screen and (min-width: 1024px) {
  .home-page {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 0;

    .home-contianer {
      width: 100%;
      background-color: $main;
      flex: 5;

      .widgets-container {
        width: 100%;
        display: flex;
        flex-direction: row;
      }

      .chats-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 1rem;
      }

      .list-container {
        @include shadow;

        .list-Title {
          font-weight: $afw;
          color: gray;
        }
      }
    }
  }
}
