@import '../../styles/Variables.scss';
@import '../../styles/Mixins.scss';

// Mobile styling
.contact-page {
  .contact-container {
    .title {
    }

    .form-communication-tools {
      .form-container {
        .sub-title {
        }
        .contact-form {
          .user-data {
            .input-container {
              .input-field {
              }

              .input-file {
              }
            }
          }

          .text-message {
            .input-field {
            }
          }

          .contact-form-btn {
          }
        }
      }

      .fast-contact-tools {
        .sub-title {
        }

        .contact-tools {
          .contact-icon {
          }

          .link-container {
            .link {
            }
          }
        }
      }
    }
  }
}

// Tablet styling
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .contact-page {
    .contact-container {
      width: 100%;
      max-width: $tablet;
      margin: auto;
      .title {
        @include title;
      }

      .form-communication-tools {
        width: 100%;
        max-width: $tablet;
        margin: auto;
        display: grid;
        grid-template-columns: 65% 35%;
        column-gap: 1rem;
        grid-template-areas:
          'title title'
          'article1 article2';
        margin-bottom: 1rem;

        .form-container {
          .sub-title {
          }
          .contact-form {
            .user-data {
              .input-container {
                .input-field {
                }

                .input-file {
                }
              }
            }

            .text-message {
              .input-field {
              }
            }

            .contact-form-btn {
            }
          }
        }

        .fast-contact-tools {
          .sub-title {
          }

          .contact-tools {
            .contact-icon {
            }

            .link-container {
              .link {
              }
            }
          }
        }
      }
    }
  }
}

// Desktop Styling
@media screen and (min-width: 1024px) {
  .contact-page {
    position: relative;

    .contact-container {
      position: absolute;
      top: 5rem;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      max-width: $max-width;
      margin: 1rem auto;
      opacity: 0;
    }

    .contact-container:hover {
      position: absolute;
      top: 5rem;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      max-width: $max-width;
      margin: 1rem auto;
      opacity: 1;

      .title {
        @include title;
        color: #ffffff;
      }

      .form-communication-tools {
        width: 100%;
        max-width: 1024px;
        margin: auto;
        display: grid;
        grid-template-columns: 65% 35%;
        column-gap: 1rem;

        .form-container {
          padding: 0.5rem 1rem;
          border: 1px solid #ffffff;
          border-radius: $radius;

          .sub-title {
            @include subTitle;
            color: white;
          }
          .contact-form {
            .user-data {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              column-gap: 1rem;

              .input-container {
                margin: 1rem 0;
                .input-field {
                  @include inputField3;
                }

                .input-file {
                }
              }

              .input-files-container {
                padding: 1rem 0;
                position: relative;

                .input-file {
                  width: 100%;
                  position: relative;
                  @include input;
                  z-index: 2;
                  cursor: pointer;
                  opacity: 0;
                }

                .file-btn {
                  position: absolute;
                  top: 1rem;
                  left: 0.3rem;
                  right: 0.3rem;
                  width: 100%;
                  height: 2rem;
                  width: 98%;
                  margin: auto;
                  border-radius: 0.2rem;
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  border: 1px solid green;
                  background-color: #ffffff;
                  padding: 1.1rem 0;
                  z-index: 1;
                  cursor: pointer;
                  transition: 0.5s;

                  .icon {
                    font-size: 1rem;
                    margin: 0 0.5rem;
                    color: green;
                  }

                  .supported-files {
                    margin-left: 1rem;
                  }
                }

                &:hover {
                  button {
                    background-color: #e7c1c1;
                    color: #ff0000;
                  }
                }
              }
            }

            .text-message {
              & textarea {
                padding: 1rem;
                font-size: 1.1rem;
              }
            }

            .contact-form-btn {
              @include button;
            }
          }
        }

        .fast-contact-tools {
          border: 1px solid #ffffff;
          border-radius: $radius;
          padding: 1rem;
          height: max-content;

          .sub-title {
            @include subTitle;
            font-size: 1.4rem;
            color: #ffffff;
          }

          .contact-tools {
            display: flex;
            gap: 1rem;

            .contact-icon {
              font-size: 2rem;
              color: #ffffff;
              font-size: 2rem;
              margin-right: 1rem;
              cursor: pointer;
            }

            .link-container {
              .link {
                color: #ffffff;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}

.errorVisible {
  display: block;
  color: red;
}

.errorInvisible {
  display: none;
}
